{% extends 'base.html' %}

{% load static %}
{% block slider %}
{% for post in most_popular_posts %}
<div class="flex-fill" style="margin-right: 30px;">
  <div class="card blog__slide text-center">
    <div class="blog__slide__img">
      {% if post.image %}
      <img class="card-img rounded-0" src="{{ post.image.url }}" alt="{{ post.title }}">
      {% else %}
      <img class="card-img rounded-0" src="{% static 'img/banner/blog.png' %}" alt="дефолтное фото">
      {% endif %}
    </div>


    <div class="blog__slide__content">
      <h3><a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a></h3>
      <p>{{ post.published_at }}</p>
    </div>
  </div>
</div>
{% endfor %}
{% endblock slider %}

{% block postarea %}
{% for post in fresh_posts %}
<div class="single-recent-blog-post">
  <div class="thumb">

    {% if post.image and post.image != "" %}
    <img class="img-fluid" src="{{ post.image }}" alt="фото поста">
    {% else %}
    <img class="img-fluid" src="{% static 'img/blog.png' %}" alt="дефолтное фото">
    {% endif %}

    <ul class="thumb-info" style="max-width: 550px;">
      <li><a href="#"><i class="ti-user"></i>{{ post.author }}</a></li>
      <li><a href="#"><i class="ti-notepad"></i>{{ post.published_at|date:"F d, Y" }}</a></li>
      <li><a href="{% url 'post_detail' post.slug %}"><i class="ti-themify-favicon"></i>{{ post.comments_amount }}
          Comments</a></li>
    </ul>
  </div>
  <div class="details mt-20">
    <h3>{{ post.title }}</h3>
    <p>{{ post.text|slice:":200" }}{% if post.text|length > 200 %}...{% endif %}</p>
    <a class="button" href="{% url 'post_detail' post.slug %}">Read More <i class="ti-arrow-right"></i></a>
  </div>
</div>
{% endfor %}
{% endblock postarea %}